<h1>GitHub User's Detail</h1>
<h3>Who to Follow</h3>
<div *ngIf="users; else loading">
  <div>
    <button type="submit" class="buttonload" (click)="getUser()">
    <i class="fa fa-refresh"></i>  Refresh User
    </button>
  </div>
  <div style="width: 2%;">&nbsp;</div>
  <div *ngFor="let user of users">
    <div>
      <div style="float: left;">
        <img style="width: 200px;height: 200px" src="{{user.avatar_url}}" alt="Avatar Image Image ">
        <div>Name : {{user.login}}</div>
        <div>Github Account link :
          <span style="
          display: block;
          width: 170px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;">
            <a href="{{user.html_url}}">{{user.html_url}}</a></span>
        </div>
        <div>
            <button type="button" (click)="deleteUser(user)">Delete</button>
        </div>
      </div>
      <div style="float: left;">&nbsp;</div>
    </div>
  </div>
</div>
<ng-template #loading>
    <div id="loader"></div>
</ng-template>